*{
  margin: 0;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: dodgerblue;
  height: 200px;

}
a{color: white;
  border: white 2px solid;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
}
